*{
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: green;
}

.SPXWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.tgpos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    opacity: 100;
    background-color: transparent;
    width: 45%;
    height: 100%;
}

#teamsContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 30%;
}

/*--LEFT CONTAINER--*/
#left-container {
    width: 30%;
    height: 70%;
    border-bottom-left-radius: 10px;
}

#matchNumberBox {
    font-weight: bold;
    background-color: #91d08a;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

#red-alliance {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    height: 80%;
    width: 100%;
}

.red, .blue {
    height: 45%;
    width: 97%;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#teamRed1 {
    border-top-left-radius: 10px;
}

#teamRed2 {
    border-bottom-left-radius: 10px;
}

/*--MID CONTAINER--*/
#middle-container {
    width: 40%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#logoBox {
    height: 50%;
    width: 90%;
    display: flex;
    justify-content: center;
}

#matchLogo {
    width: 100%;
}

#time-counter {
    height: 50%;
}

/*--RIGHT CONTAINER--*/
#right-container {
    width: 30%;
    height: 70%;
    border-bottom-right-radius: 10px;
}

#staticTitle {
    font-weight: bold;
    font-size: small;
    background-color: #91d08a;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}

#blue-alliance {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    height: 80%;
    width: 100%;
}

#teamBlue1 {
    border-top-right-radius: 10px;
}
#teamBlue2 {
    border-bottom-right-radius: 10px;
}

#teamRed1, #teamRed2,
#teamBlue1, #teamBlue2 {
    font-size: 120%;
}

#left-container, #middle-container, #right-container {
    background-color: black;
}

.red { background-color: #c62828; }
.blue { background-color: #1565c0; }